<div class="container md-4 title">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-sharp fa-solid fa-eye"></i> &nbsp; View
                Contact Page
            </h1>

            <P style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit quaerat
                doloribus magnam dolorem
                dicta in aut nesciunt, dolore recusandae placeat excepturi optio quibusdam perspiciatis, quasi explicabo
                nihil delectus animi.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, deserunt debitis voluptatem expedita
                ut delectus ad nostrum autem architecto magni et voluptate ratione consequatur distinctio incidunt vel
                asperiores dolor quis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa commodi facilis repellendus debitis
                doloribus ratione illum nihil voluptates quibusdam maiores. Minima consequatur impedit illo obcaecati
                autem quibusdam neque rem dolores.</P>

        </div>
    </div>



    <!-- view contact details -->
    <div class="container mt-4 mb-5 ">
        <div class="row border p-5 align-items-center">
            <div class="col-md-4">
                <!-- contact image -->
                <img width="200px" [src]="contact.photo" alt="">
                <br>
                <a routerLink="/" class="btn btn-warning ms-5 mt-2"> <i class="fa-solid fa-circle-left"></i> &nbsp;
                Go Back</a>

            </div>
            <div class="col-md-8">
                <!-- contact details -->
                <ul class="list-group">
                    <li class="list-group-item">Name: <span><b>{{contact.name}}</b> </span></li>
                    <li class="list-group-item">Email: <span>{{contact.email}}</span></li>
                    <li class="list-group-item">Mobile:<span>{{contact.mobile}}</span></li>
                    <li class="list-group-item">Company:<span>{{contact.company}}</span></li>
                    <li class="list-group-item">Title:<span>{{contact.title}}</span></li>
                    <li class="list-group-item">Group:<span>{{groupName}}</span></li>
                </ul>
            </div>
        </div>
    </div>